<div class='container'>
  <%= simple_form_for(@start_up) do |f| %>
    <%= f.error_notification %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="form-inputs">
        <%= f.input :name, :required => true, class: "startup-form", placeholder: "name of start up", label: false%>
        <%= f.input :short_description, :required => true, class: "startup-form", placeholder: "short description (max 50 characters)", label: false%>
        <%= f.input :long_description, :required => true, class: "startup-form", placeholder: "long description (max 600 characters)", label: false%>
        <%= f.input :image, :required => true, class: "startup-form", placeholder: "logo url", label: false%>
        <%= f.input :video, :required => true, class: "startup-form", placeholder: "video url. stuck? do a short YouTube video of your pitch", label: false%>
        <p class=" dont-read pull-right"> *people don't read. the description is mainly for keen beans... </p>
    
          <%= f.association :stage, label_method: :stage_name, value_method: :id, class: "startup-form", placeholder: "stage", label: 'Stage'%>
          <%= f.input :incubator_id, :collection => Incubator.all.pluck(:name), class: "startup-form", placeholder: "stage", label: 'Incubator'%>
          <%= f.input :location_id, :collection => Location.all.pluck(:city), class: "startup-form", placeholder: "stage", label: 'City'%>
          <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-blue-start-up", value: "Create" %>
      </div>
    </div>
  <% end %>
</div>





