<p id="notice"><%= notice %></p>
<div class="incubator-heading">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="stage-box">
      <h1 class="app-heading">Stage Name: <small class="white"><%= @stage.stage_name %></small></h1>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="stage-box">
        <h1 class="app-heading">Stage description: <small class="white"><%= @stage.stage_description  %></small></h1>
      </div>
    </div>
  </div>
  <div class="stage-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
    <img src="<%= @stage.stage_icon %>" class="stage_icon" %>
  </div>
</div>
</div>
<center class="col-md-6 col-md-offset-3">
<%= link_to 'Edit', edit_stage_path(@stage), class: "btn btn-white" %>
<%= link_to 'Back', stages_path, class: "btn btn-white" %>
</center>
