<p id="notice"><%= notice %></p>
<div class="incubator-heading">
  <div class="stage-box">
    <h1 class="app-heading">Stage Name <small class="white"><%= @stage.stage_name %></small></h1>
  </div>
  <div class="stage-box">
    <h1 class="app-heading">Stage description <small class="white"><%= @stage.stage_description  %></small></h1>
  </div>
  <div class="stage-box">
    <img src="<%= @stage.stage_icon %>" class="stage_icon" %>
  </div>
</div>
<center>
<%= link_to 'Edit', edit_stage_path(@stage), class: "btn btn-default" %>
<%= link_to 'Back', stages_path, class: "btn btn-default" %>
</center>