<p id="notice"><%= notice %></p>

<h1>Listing Incubators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incubators.each do |incubator| %>
      <tr>
        <td><%= incubator.name %></td>
        <td><%= link_to 'Show', incubator %></td>
        <td><%= link_to 'Edit', edit_incubator_path(incubator) %></td>
        <td><%= link_to 'Destroy', incubator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incubator', new_incubator_path %>
